.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background-color: black;
}

.resultsTable th,
.resultsTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.resultsTable th {
  background-color: #f2f2f2;
}
